.answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 40px;
  column-gap: 50px;
}

.answer {
  min-height: 25px;
}

.disable-answer {
  color: var(--disable-answer-color);
  background-color: var(--disable-bkg-color);
  border: solid 1px var(--disable-border-color);
}

.selected-answer {
  color: white;
  background-color: black;
  font-weight: 600;
  border: solid 1px black;
}

.correct-answer {
  color: black;
  background-color: white;
  font-weight: bold;
  border-color: black;
}
