.category {
  font-size: 13px;
  letter-spacing: -0.5px;
  color: var(--categoryColor);
}

.difficulty {
  font-size: 14px;
}

.black {
  color: var(--blackColor);
}

.gray {
  color: var(--grayColor);
}
