.text-center {
  text-align: center;
  margin: 35px 0;
  letter-spacing: -0.5px;
}

.correct-sorry {
  font-weight: 600;
  font-size: 28px;
  color: black;
}

.next-question {
  margin: 20px 0;
  width: 155px;
  height: 35px;
}
