:root {
  --tittleColor: hsl(0, 0%, 29%);
  --categoryColor: hsl(0, 0%, 55%);
  --borderColor: hsl(0, 0%, 85%);
  --grayColor: hsl(120, 1%, 80%);
  --buttonColor: hsl(200, 0%, 80%);
  --buttonHoverColor: hsl(200, 0%, 60%);
  --disable-answer-color: hsl(0, 0%, 50%);
  --disable-bkg-color: hsl(200, 0%, 86%);
  --disable-border-color: hsl(0, 0%, 60%);

  --overall-progress-color: hsl(120, 1%, 66%);

  --max-score-color: hsl(0, 0%, 82%);
  --current-score-color: hsl(0, 0%, 44%);
}

body {
  display: flex;
  justify-content: center;
}

.App {
  border: 1px solid var(--borderColor);
}

h2 {
  color: var(--tittleColor);
  margin: 0;
  font-weight: 600;
}

button {
  border-width: 1px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  background-color: var(--buttonColor)
}

button:hover:not(:disabled) {
  background-color: var(--buttonHoverColor)
}

.quiz-container {
  width: 400px;
  padding: 35px 80px 15px;
}
