:root {
  --tittleColor: hsl(0, 0%, 9%);
  --categoryColor: hsl(0, 0%, 55%);
  --borderColor: hsl(0, 0%, 85%);

  /* stars */
  --grayColor: hsl(120, 2%, 80%);
  --blackColor: black;


  --button-color: black;
  --button-color-background: hsl(120, 80%, 85%);
  --button-hover-background: hsl(120, 80%, 75%);

  --disable-answer-color: hsla(0, 0%, 0%, 0.2);
  --disable-bkg-color: hsla(120, 80%, 85%, 0.5);

  --selected-answer: white;
  --selected-answer-background: hsl(0, 60%, 50%);

  --correct-answer: black;
  --correct-answer-background: hsl(120, 50%, 50%);

  --overall-progress-color: hsl(120, 1%, 66%);

  --current-score: hsl(240, 60%, 50%);
  --max-score: hsl(120, 50%, 50%);

  --score-bar-border: black;
  --max-score-color: var(--max-score);
  --current-score-color: var(--current-score);
  --lowest-score-bar: hsl(0, 70%, 50%);
}

body {
  display: flex;
  justify-content: center;
}

.App {
  border: 1px solid var(--borderColor);
}

h2 {
  color: var(--tittleColor);
  margin: 0;
  font-weight: 600;
}

button {
  border-width: 1px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  background-color: var(--button-color-background);
  border: none;
  color: var(--button-color);
}

button:hover:not(:disabled) {
  background-color: var(--button-hover-background);
  border-color: var(--button-hover-border);
  color: var(--button-hover-color);
}

.quiz-container {
  width: 400px;
  padding: 35px 80px 15px;
}
